@{
    ViewBag.Title = "Home Page";
}

<div class="carousel" id="car">
    <a class="carousel-item" href="#one!"><img src="~/Pictures/1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="~/Pictures/2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="~/Pictures/3.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="~/Pictures/4.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="~/Pictures/5.jpg"></a>
</div>

<script type="text/javascript">
    $('#car').carousel();
</script>